{% extends "board_game_sites/base.html" %}

{% block content %}

<p>Game: {{game}}</p>

<p>Info:</p>
<ul>
{% for info in info %}
    <li>
        <p>{{ info.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ info.text|linebreaks }}</p>
    </li>

    <input type="checkbox" id="checkbox1">Borrowed</input>
    <button type="button" onClick="save()">save</button>
    
    <script>
    //TALLENNUSFUNKTIO
    function save() {	
	var checkbox = document.getElementById("checkbox1");
    localStorage.setItem("checkbox1", checkbox.checked);	
}

    //APPIA UUDELLEENKÄYNNISTETTÄESSÄ
    var checked = JSON.parse(localStorage.getItem("checkbox1"));
    document.getElementById("checkbox1").checked = checked;

    </script>


    <p>Remember to uncheck "Borrowed" when you decide to return the game!</p>
{% empty %}
    <li>There is no information on this game yet!</li>
{% endfor %}

</ul>

{% endblock content %}