{% extends "board_game_sites/base.html" %}

{% block content %}

<p>Game: {{game}}</p>

<!-- BORROWED LAATIKKO -->
<input type="checkbox" id="checkbox1">Borrowed</input>
<button type="button" onClick="save()">save</button>

<p><u>Remember to uncheck "Borrowed", and save when you decide to return the game!</u></p>

<script>
//TALLENNUSFUNKTIO
function save() {	
var checkbox = document.getElementById("checkbox1");
localStorage.setItem("checkbox1", checkbox.checked);	
}

//APPIA UUDELLEENKÄYNNISTETTÄESSÄ
var checked = JSON.parse(localStorage.getItem("checkbox1"));
document.getElementById("checkbox1").checked = checked;

</script>


<p>Information/comments:</p>
<ul>
{% for info in info %}
    <li>
        <p>{{ info.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ info.text|linebreaks }}</p>
    </li>

{% empty %}
    <li>There is no information on this game yet!</li>
{% endfor %}

</ul>

<p><u>If you wish to add more information about the game, contact the site administrator!</u></p>

{% endblock content %}